
body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

/* Hader */

.header {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #BF953F;
    position: fixed;
    margin: 0px;
    z-index: 1000;
    transition: 1s all;
    padding: 0px;
    display: block;
    opacity: 0;
}

.nav_first, .nav_second {
    list-style: none;
}

.nav_first > li {
    margin-left: 0px;
    padding-left: 15px;
}

.nav_first {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}

.nav_first li:nth-child(1) {
    cursor: pointer;
}

li {
    display: inline;
    font-size: 1.3rem;
    color: #BF953F;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 2s all;
}

li:hover {
    color: #AA771C;
}

a {
    text-decoration: none;
    color: #BF953F;

}

.nav_second {
    float: right;
}

.sticky {
    opacity: 1;
}

.sticky_2 {
    height: 3rem;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 0;
}

#scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 0%;
    background: linear-gradient(to bottom, #AA771C, #BF953F);
}

/* Main Div */

#main_div {
    background-color: rgba(34, 34, 34, 0.411);
    width: 100%;
    height: 100vh;
    margin: 0px;
}

#main_logo_div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: absolute;
    animation: go_logo;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#main_logo_div > img {
    max-width: 40rem;
    max-height: 20rem;
}

@keyframes go_logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main_logo_text {
    background: linear-gradient(to bottom, #AA771C, #BF953F);
    text-align: center;
    transition: 3s all;
    top: 17rem;
    border: 2px solid #BF953F;
    border-radius: 15px;
    padding: .1rem 1rem;
    font-size: 3rem;
    font-weight: bolder;
}

.logo_up {
    position: fixed;
    top: 0rem;
    font-size: .9rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #BF953F;
}

#arrow_down {
    margin: 0rem auto;
    top: 90%;
    color: #BF953F ;
    opacity: .5;
    font-size: 3rem;
    display: block;
    position: relative;
    text-align: center;
    animation-name: go_down;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 5s;
}

@keyframes go_down {
    0% {    
        transform: translateY(1rem);
    }

    50% {    
        transform: translateY(-1rem);
    }

    100% {    
        transform: translateY(1rem);
    }
}

/* First quote / quotes */

#second_div, #fourth_div, #sixth_div, #eighth_div {
    width: 35rem;
    height: 10rem;
    margin: 6rem auto;
    color: #BF953F;
    text-align: center;
    font-size: 2rem;
}

#fourth_div {
    margin-top: 12rem;
}

.quotes {
    font-family: 'Tangerine', cursive;
    margin-bottom: 2rem;
}

/* Video */

#third_div {
    width: 100%;
    height: 40rem;
    margin: 0px;
    padding: 0px;
}

video {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
}

/* Gallery */

#fifth_div {
    width: 90%;
    height: 25rem;
    margin: 10rem auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: -10;
    cursor: pointer;
    transition: 1s all;
    opacity: .3;
}

#fifth_div_p {
    content: attr(title);
    color: #BF953F;
    position: absolute;
    font-size: .7rem;
    left: 2rem;
    font-weight: bold;
}

#fifth_div > img {
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    opacity: .3;
    z-index: -10;
}

#gallery_h2 {
    font-size: 8rem;
    color: #BF953F;
    text-align: center;
    margin-top: 10rem;
    opacity: .4;
    z-index: 10;
}

/* Second quote */

#fifth_div:hover {
    opacity: 1;
}

/* Contact */

::placeholder {
    color: #BF953F;
}

#contact_h2 {
    margin: 0px auto;
    color: #BF953F;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
}

#seventh_div {
    width: 100%;
    height: 20rem;
    margin: 0rem auto;
}

#contact_form {
    width: 50%;
    margin: 0px auto;
}

#contact_form > input, textarea {
    display: block;
    margin: 10px auto;
    width: 100%;
    border-style: none;
    margin-top: 1rem;
    background-color: black;
    border-bottom: 2px solid #BF953F;
    text-align: left;
    color: #BF953F;
    font-size: 1.2rem;
    padding: 1rem;
}

textarea:focus, input:focus{
    outline: none;
}

#button {
    display: block;
    margin: 0px auto;
    background-color: #BF953F;
    margin-top: 4rem;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .5rem;
    border-style: none;
    transition: 2s all;
}

#button:hover {
    cursor: pointer;
    background-color: black;
    color: #BF953F
}

/* Last quote */

#eighth_div {
    margin-top: 18rem;
}

/* Footer */

#footer {
    width: 100%;
    height: 26rem;
    background-color: #AA771C;
    padding-top: 1rem;
    padding-bottom: 0px!important;
}

.main_logo_text_footer {
    border: 3px solid goldenrod;
    font-size: 2rem;
    border-radius: 20px;
    background: linear-gradient(to top, #BF953F, #AA771C);
    width: 15rem;
    text-align: center;
    margin: 2rem auto;
    cursor: pointer;
    transition: 2s all;
}

.main_logo_text_footer:hover {
    background: black;
    color: goldenrod;
}

#footer_social {
    margin: 1px auto;
    text-align: center;
}

#footer_social > i {
    font-size: 2rem;
    margin: .2rem;
    transition: 2s all;
}

#footer_social > i:hover {
    cursor: pointer;
    color: #BF953F;
}
 
#footer_social > i:not(:first-child) {
    margin-left: 1rem;
}

#address, #number, #studio, #academy, #company {
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
}

#company {
    margin-bottom: 20px;
}

b {
    font-weight: bold;
    font-size: 1.2rem;
}


/* Gallery Page */

#gallery_body {
    overflow: hidden;
    height: 100%;
}


#container {
    width: calc(21 * 100vw);
    height: 100vh;
    margin: 0px;
    top: 0;
    left:0;
    position: relative;
    transition: 2s all;
    overflow: hidden;
}

.imgs_div {
    display: inline;
    float: left;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    z-index: -10;
}

.imgs {
    display: inline;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

#over_div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    
}

#left_arrow {
    z-index: 10;
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 2rem;
    color: white;
    opacity: .3;
    transition: 2s all;
    display: none;

}

#right_arrow {
    right: 5%;
    z-index: 10;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    opacity: .3;
    transition: 2s all;
}

#left_arrow:hover, #right_arrow:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.4);
}

#go_back {
    color: #BF953F;
    position: absolute;
    font-size: 2rem;
    margin: 2rem;
    margin-right: 3rem;
    transition: 2s all;
    left: 0;
}

#go_back:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.2);
}

#go_back > i {
    padding-bottom: -1rem;
    margin-top: -1rem;
}

/* About Page */

.machine {
    max-width: 6rem;
    max-height: 8rem;
    margin-left: 3rem;
    margin-top: 2rem;
    position: absolute;
}

.about_txt {
    color: #AA771C;
    padding: 5rem;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Tangerine', cursive;

}



                                            /*Media Quotes */

@media screen and (max-width: 700px) {
    /* Gallery */

    #fifth_div {
        height: 17rem;
    }   

    #gallery_h2 {
        font-size: 6rem;
        margin-top: 10rem;
    }

}

@media screen and (max-width: 600px) {

    /*  Header */

    li {
        font-size: 1rem;
    }


    /* Quotes */

    #second_div, #fourth_div, #sixth_div, #eighth_div {
        font-size: 1.5rem;
        width: 25rem;
    }

    /* Video */

    #third_div {
        height: 20rem;
    }

    /* Fourth div  */
    
    #fourth_div {
        margin-top: 5rem;
    }

    /* Gallery */

    #fifth_div_p {
        font-size: .7rem;
        left: 2rem;
        margin-top: 2rem;
    }

    #fifth_div {
        height: 15rem;
    } 
 
    #gallery_h2 {
        font-size: 5rem;
        margin-top: 1rem;
    }

    /* Contact */

    #contact_form > input, textarea {
        font-size: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 420px) {
    #second_div, #fourth_div, #sixth_div, #eighth_div {
        font-size: 1.5rem;
        width: 20rem;
    }
}

@media screen and (max-width: 400px) {
    
    li {
        font-size: .8rem;
        padding: .8rem;
        padding-left: .1rem;
    }

    li:not(:last-child) {
        padding-right: .1rem;
    }

    #gallery_btn {
        padding-left: 1.2px!important;
    }

    /* Gallery */

    
    #fifth_div_p {
        font-size: .7rem;
        left: 2rem;
        margin-top: 4rem;
    }

    #fifth_div {
        height: 10rem;
    } 
     
    #gallery_h2 {
        font-size: 3rem;
        margin-top: .5rem;
    }

    /* About Page */

    .about_txt {
        padding: 2rem;
        font-size: 2rem;
    }

}

@media screen and (max-width: 361px) {

    /* Quotes */

    #second_div, #fourth_div, #sixth_div, #eighth_div {
        font-size: 1.5rem;
        width: 15rem;
    }

    /* Contact */

    #contact_h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    #contact_form {
        width: 
        
    }

    #contact_form > input, textarea {
        font-size: .8rem;
        padding: .5rem;
    }

    /* Eight Div */

    #eighth_div {
        margin-top: 10rem;
    }

}
